<div ng-controller="userCtrl as userCtrl" class="content" layout="row">
	<div layout="column" class="add-user-form">
		<h3>Add user form</h3>
		<md-input-container>
			<label>Name</label>
			<input ng-model="userCtrl.newUser.name" class="user-name" type="text"></input>
		</md-input-container>
		<md-input-container>
			<label>Email</label>
			<input ng-model="userCtrl.newUser.email" class="user-name" type="text"></input>
		</md-input-container>

		<md-select class="role-selector" ng-model="userCtrl.selectedRole.name" placeholder="Select a role">
			<md-option ng-value="role.name" ng-repeat="role in userCtrl.roles">{{ role.name }}</md-option>
		</md-select>
		<div layout="row">
			<md-button ng-click="userCtrl.addUser()" class="md-primary md-raised">Add</md-button>
		</div>
	</div>

	<div class="user-list">
		<h3>User list</h3>
		<md-list>
			<md-list-item class="md-2-line" ng-repeat="user in userCtrl.users">
				<div class="md-list-item-text">
					<h3>	<label ng-if="!user.editMode" ng-model="user.name">{{user.name}}</label> ({{user.role}} - {{user.id}})</h3>
					<p layout="column">

						<input ng-if="user.editMode" ng-model="user.name" type="text" value="{{user.name}}"></input>

						<input ng-if="user.editMode" ng-model="user.email" type="text" value="{{user.email}}"></input>
						<label ng-if="!user.editMode" ng-model="user.email">{{user.email}}</label>

					</p>
					<md-button ng-if="user.editMode" ng-click="userCtrl.updateUser(user)" class="md-primary md-raised  md-cornered">Save</md-button>
					<md-button ng-click="userCtrl.toggleEdit(user)" class="md-raised  md-cornered">Edit</md-button>
					<md-button ng-click="userCtrl.deleteUser(user)" class="md-warn md-raised  md-cornered">Delete</md-button>
				</div>
			</md-list-item>
		</md-list>
	</div>

</div>
