<div ng-controller="projectCtrl as projectCtrl" class="content" layout="row">
    <div layout="column" class="add-project-form user-list">
        <h3>Add project form</h3>
        <md-input-container>
            <label>Name</label>
            <input ng-model="projectCtrl.newProject.name" class="project-name" type="text"></input>
        </md-input-container>
        <md-input-container>
            <label>Description</label>
        </md-input-container>
        <md-input-container>
        </md-input-container>
        <textarea rows="4" ng-model="projectCtrl.newProject.description" class="project-name textarea" type="text"></textarea>
        <div layout="row">
            <md-button ng-click="projectCtrl.addproject()" class="md-primary md-raised">Add</md-button>
        </div>
    </div>

    <div class="user-list">
        <h3>Project list</h3>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="project in projectCtrl.projects">
                <div class="md-list-item-text">
                    <h3>	<b><label ng-if="!project.editMode">{{project.name}} </label>{{project.id}}<b></h3>
                    <p layout="column">

                        <input ng-if="project.editMode" ng-model="project.name" type="text" value="{{project.name}}"></input>

                        <textarea class="textarea" ng-if="project.editMode" ng-model="project.description" type="text" value="{{project.description}}"></textarea>
                        <p style="max-width: 300px;overflow:hidden;word-break: break-all;"ng-if="!project.editMode" ng-model="project.description">{{project.description}}</p>


                    </p>
                    <md-button ng-if="project.editMode" ng-click="projectCtrl.updateproject(project)" class="md-primary md-raised  md-cornered">Save</md-button>
                    <md-button ng-click="projectCtrl.toggleEdit(project)" class="md-raised  md-cornered">Edit</md-button>
                    <md-button ng-click="projectCtrl.deleteproject(project)" class="md-warn md-raised  md-cornered">Delete</md-button>
                </div>
            </md-list-item>
        </md-list>
    </div>

</div>
