<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Task Manager</title>

	<link rel="stylesheet" href="">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
	<link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">
	<!--  Task Manager  -->
	<link rel="stylesheet" href="core/taskmanager.css">
	<script src="core/taskmanager.module.js"></script>
	<script src="core/menu.module.js"></script>
	<script src="core/menu.ctrl.js"></script>

	<script src="js/angular-ui-router.min.js"></script>
	<scrip src="js/angular-ui-router.js">
		<!-- user module -->
		<script src="user/user.module.js"></script>
		<script src="user/user.ctrl.js"></script>
		<script src="user/user.view.html"></script>

		<!-- resource module -->
		<script src="resources/resource.module.js"></script>
		<script src="resources/resource.ctrl.js"></script>
		<script src="resources/resource.view.html"></script>

		<!--  login module -->
		<script src="login/login.module.js"></script>
		<script src="login/login.ctrl.js"></script>
		<!--projects-->
		<script src="projects/projects.module.js"></script>
		<script src="projects/projects.ctrl.js"></script>
			<script src="projects/projects.view.html"></script>

		<script src="login/login.module.js"></script>
		<script src="login/login.ctrl.js"></script>
		<script src="login/login.view.html"></script>

</head>

<body ng-app="taskManager">
	<h1>Taskmanager</h1>
	<ul layout="row" class="nav" ng-controller="menuCtrl as menuCtrl">
		<li>Users
			<ul>
				<li>
					<md-button href="" ng-click="menuCtrl.goToUsersPage()">User CUD</button>
				</li>
				<li>
					<md-button href="" ng-click="menuCtrl.navigate('/membership-user')">Membership-user editor</<md-button>
				</li>
			</ul>
		</li>
		<li>Project
			<ul>
				<li>
					<md-button href="" ng-click="menuCtrl.navigate('/projects')">Project CUD</<md-button>
				</li>
				<li>
					<md-button href="">Task CUD</<md-button>
				</li>
				<li><a href="#">TaskType CUD</a></li>
				<li><a href="#">MemberShip CUD</a></li>
				<li><a href="#">Resource request CUD</a></li>
			</ul>
		</li>
		<li>Resources
			<ul>
				<li><a href="" ng-click="menuCtrl.goToResourcesPage()">Resource CUD</a></li>
				<li><a href="#">Resource request editor</a></li>
			</ul>
		</li>
		<li>Reports
			<ul>
				<li><a href="#">User resources</a></li>
				<li><a href="#">User tasks(filter)</a></li>
			</ul>
		</li>
		<li><a href="#">About</a></li>
	</ul>

	<div ui-view md-content layout-padding class="prf-content">

</body>

</html>
